In [2]:
import pandas as pd

In [ ]:
path = "/Users/laurasansc/Desktop/BioinformaticsSystemsBiology/DeepLearning/data_project/matrices_mex/hg19/counts.tsv"

num_of_rows = 1024
TextFileReader = pd.read_csv(path, sep="\t", chunksize= num_of_rows,error_bad_lines=False)

dfs = []
for chunk_df in TextFileReader:
    dfs.append(chunk_df)
dat = pd.concat(dfs,sort=False)

In [7]:
dat.head(1)

,0,1,2,3,4,5,6,7,8,9,...,68569,68570,68571,68572,68573,68574,68575,68576,68577,68578
0,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V68570,V68571,V68572,V68573,V68574,V68575,V68576,V68577,V68578,V68579

In [ ]:
# 1%
dat_001 = dat.sample(frac=0.01)
dat_001.to_csv('counts_001.tsv', sep='\t', axis=1)

In [ ]:
# 5%
dat_005 = dat.sample(frac=0.05)
dat_005.to_csv('counts_005.tsv', sep='\t', axis=1)

In [ ]:
# 10%
dat_01 = dat.sample(frac=0.1)
dat_01.to_csv('counts_01.tsv', sep='\t', axis=1)

In [ ]:
# 20%
dat_02 = dat.sample(frac=0.2)
dat_02.to_csv('counts_02.tsv', sep='\t', axis=1)